@page
@using WebApplicationASP_2.Components
@model IndexModel
@{
    ViewData["Title"] = "Hemma hos oss på";
}

<div class="text-center">
    
</div>

@(await Html.RenderComponentAsync<Component1>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>


